.border {
  border-radius: 5px;
  box-shadow: 0 0 5px #888;
}

.size-banner {
  max-width: 920px;
}

.bg-banner {
  background: rgba(0, 173, 181, 0.281);
  width: 900px;
  height: 400px;
}

.text-color-black {
  color: black;
  opacity: 100%;
}
