.bg {
  background-color: #00adb5;
}

.bg2 {
  background-color: darkcyan;
}

.box {
  min-height: 10em;
  display: table-cell;
  vertical-align: middle;
}

.margin-icons {
  margin-top: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.button-social {
  color: black;
}
.button-social:hover {
  color: white;
}

.vertical-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.vertical-align > div:first-child {
  background-color: lightblue;
}
.vertical-align > div:last-child {
  background-color: lightgreen;
}
